<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
    <link rel="stylesheet" href="/root.css" />
    <link rel="stylesheet" href="/bookDetails.css" />
    <link rel="stylesheet" href="/updateDetails.css" />
  </head>
  <body>
    <h1><%= book.title %></h1>

    <img id="book-cover" alt="Book cover" />

    <p><strong>Author:</strong> <%= book.author || "Unknown Author" %></p>
    <p><strong>Description:</strong> 
      <%= book.description || "No description available." %></p>
    <p><strong>Genre:</strong>
      <%= genres.map(genre=>genre.name).join(', ') || "Not added yet." %>
    </p>
    <p>
      <strong>Added:</strong> <%= book.added.toLocaleDateString('en-US', { year:
      'numeric', month: 'short', day: 'numeric' }) %>
    </p>

    <button class="bttn-1" onclick="showForm()">
      Update Details
    </button>

    <form
      action="/book/<%= book.id %>/delete"
      method="POST"
      style="display: inline"
    >
      <button
        onclick="return confirm('Are you sure you want to delete <%= book.title %>?')"
        type="submit"
      >
        Delete book
      </button>
    </form>

    <div id="update-form" class="hidden"><%- include ("updateDetails.ejs", { book, allGenres, genres })%></div>
    <div class="back"><a href="/">Back to Home</a></div>
    
    <%- include("partials/theme.ejs") %> <%- include("partials/fetchImg.ejs") %>
    <%- include("partials/toggleForm.ejs")%>
  </body>
</html>
