<form action="/book/<%= book.id %>/update" method="POST">
  <label for="title">Title</label>
  <input id="title" value="<%=book.title%>" name="title" required />
  <label for="author">Author</label>
  <input id="author" value="<%=book.author%>" name="author" />
  <label for="description">Description</label>
  <input id="description" value="<%=book.description%>" name="description" />
  
  <label for="genres">Genre</label>
  <select id="genres" name="genres" multiple>
  <%genres.forEach(genre=>{%>
    <option value="<%=genre.id%>%>"><%=genre.name%></option>
  <%})%>
  </select>

  <div>
    <button type="submit">Save changes</button>
    <button type="button" onclick="hideForm()">Cancel</button>
  </div>
</form>

